<h1>LOGIN!</h1>

<form method="post" action='/login'>
  <input placeholder="Email" type="email" name="email">
  <input placeholder="Password" type="password" name="password">
  <input type="submit" value="Login!">

</form>