<h1>Signup for a cool DnD Experience!</h1>

<% if flash["message"] %>
  <button> <%= flash["message"] %></button>
  
<% end %>
<form method="post" action='/signup'>
  <input placeholder="Email" type="email" name="email">
  <input placeholder="Password" type="password" name="password">
  <input type="submit" value="SignUp!">

</form>