<h1>Edit your <%= @character.name %></h1>

<form action="/characters/<%= @character.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <input placeholder="Name" type="text" name="name">
  <input placeholder="Weapon" name="weapon" type="text">
  <input type="submit" value="Edit Character">
</form>