<h1>Create a new Character</h1>

<form action="/weapons" method="post">
  <input placeholder="Name" type="text" name="name">
  <input placeholder="Type" type="text" name="type">
  <input type="submit">
</form>